{% include 'navbar.html' %}






<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Students</h6>
            <a href="#">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Student ID</th>
                        <th scope="col">Student Name</th>
                        <th scope="col">Student Class</th>
                        <th scope="col">Student Tell</th>
                        <th scope="col">Student Image</th>
                        <th scope="col">Student Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in students %}
                    <!-- {{row}} -->
                    
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        <td>{{ row.3 }}</td>
                        <td>{{ row.4 }}</td>

                        
                        
                    </tr>
                    {% endfor %}
                </tbody>
                
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Users</h6>
            <a href="#">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">User</th>
                        <th scope="col">Type</th>
                        <th scope="col">Gmail</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in users %}
                    <!-- {{row}} -->
                    
                    {{row.4}}
                    <tr>
                        <td>{{ row.0 }}</td>
                        <td>{{ row.1 }}</td>
                        <td>{{ row.2 }}</td>
                        
                        
                    </tr>
                    {% endfor %}
                </tbody>
                
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include 'footer.html' %}